.demo-layout-transparent {
  background: gray;
  >.mdl-layout__header,
  >.mdl-layout__drawer-button {
    color: white;
  }
  .as-grid {
    display: grid;
  }
  .mdl-layout__content {
    overflow: hidden;
  }
}

// to make table scrollable
table {
  width: 100%;
  thead {
    width: calc( 100% - 1em);
    box-shadow: 0px 2px #0001;
  }
  tbody {
    display: block;
    overflow: auto;
  }
  thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
}

.ie_wrapper {
  overflow-x: hidden;
  overflow-y: auto;
  tbody {
    height: auto;
  }
}

.center-info {
  margin: 100px auto;
  width: 70px;
  text-align: center;
}
