/* You can add global styles to this file, and also import other style files */

body,
.mdl-layout__title,
.mdl-layout-title {
  font-family: 'Montserrat', sans-serif;
}

.font-grey {
  color: #0a0a0a;
}

.progress {
  height: 0.2rem;
}
